{% extends 'base.html' %}

{% block title_head %}
<title>Acerca de mí</title>
{% endblock title_head %}

{% block h1_header %}
¿Quiénes somos?
{% endblock h1_header %}


{% block contenido %}
<p>
Mi nombre es Sol Figueroa, soy estudiante avanzada de Licenciatura en Economía en la UNL además de trabajar como auxiliar administrativa
en una empresa de mi ciudad, Santa Fe. Para este proyecto pensé en cargar datos de diferentes tipos de deportistas, en particular Futbolistas,
Voleibolistas y Hockistas. 
</p>
{% endblock contenido %}
