{% extends 'base.html' %}

{% block title_head %}
<title>Futbolista</title>
{% endblock title_head %}

{% block h1_header %}
Datos del futbolista {{futbolista.nombre}}
{% endblock h1_header %}


{% block contenido %}
<li>Edad: {{futbolista.edad}}</li>
<li>Fecha de nacimiento: {{futbolista.fecha_nacimiento}}</li>
<li>Descripción: {{futbolista.descripcion|safe}}</li>
<li>Autor: {{futbolista.autor}}</li>
<li>Imagen: 
    {% if futbolista.imagen %}
                <img src={{futbolista.imagen.url}} alt="" height='120px'>
                {% endif %}

{% endblock contenido %}
