{% extends 'base.html' %}

{% block title_head %}
<title>Futbolistas</title>
{% endblock title_head %}

{% block h1_header %}
Futbolistas
{% endblock h1_header %}

{% block contenido %}

<p>{{mensaje}}</p>

<button><a class="navbar-brand" href={% url 'inicio:crear_futbolista' %}>Crear Futbolista</a>
</button>

<form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form>
{% if futbolistas %}

{% for futbolista in futbolistas %}
<li> Nombre: {{futbolista.nombre}} - Edad: {{futbolista.edad}}</li>
{% endfor %}

{% else %}
<p>No se encontraron futbolistas</p>
{% endif %}

{% endblock contenido %}
