{% extends 'base.html' %}

{% block title_head %}
<title>Perfil</title>
{% endblock title_head %}

{% block h1_header %}
{{request.user.username}}
{% endblock h1_header %}


{% block contenido %}
<li>Email: {{user.email}}</li>
<li>Nombre: {{user.first_name}}</li>
<li>Apellido: {{user.last_name}}</li>
<li>Avatar: 
    {% if request.user.infoextra.avatar %}
                <img src={{request.user.infoextra.avatar.url}} alt="" height='120px'>
    {% endif %}</li>
<li>Facebook: {% if request.user.infoextra.facebook %}
    {{request.user.infoextra.facebook}}
{% endif %}</li>


<button>
<a class="navbar-brand" href={% url 'usuario:editar_perfil' %}>Editar perfil</a>
</button>
{% endblock contenido %}
