{% extends 'base.html' %}

{% block title_head %}
<title>Mensajes</title>
{% endblock title_head %}

{% block h1_header %}
Historial de mensajes
{% endblock h1_header %}

{% block contenido %}

<p>{{enviado}}</p>

{% if mensajes %}
{% for mensaje in mensajes  %}
<li>De {{mensaje.autor}} para {{mensaje.destinatario}}: {{mensaje.cuerpo|safe}}</li>
{% endfor %}

{% else %}
No se encontraron mensajes
{% endif %}

<button><a class="navbar-brand" href={% url 'mensajería:crear_mensaje' %}>Nuevo Mensaje</a></button>
{% endblock contenido %}
